
{% load static %}
{% block content %}
<div class="container ">                                                 
    <!-- <div class="row justify-content-center"> 
        <article id="statusHead" class="bg-secondary indicadorMon">Cabezal</article>              
        <article id="statusLinealAxis" class="bg-secondary indicadorMon">Eje lineal</article>
    </div> -->
    <div class="row justify-content-center">
        <article id="statusLoader" class="bg-secondary indicadorMon" title="Mensaje">Carga</article>
        <article id="statusDownloader" class="bg-secondary indicadorMon">Descarga</article>
    </div>
    <div class="row justify-content-center">
        <article id="statusIndex" class="bg-secondary indicadorMon">Indexar</article>
        <article id="statusRoscado" class="bg-secondary indicadorMon">Roscado</article>
     </div>
    <div class="row justify-content-center">
        <article id="statusSafe" class="bg-secondary indicadorMonSafe"><FONT SIZE=6>Safe</FONT></article>
    </div>
</div>

<div class="card bg-c-skyblue text-white mt-3 p-1" id="husilloContent"><!-- grey(original) -->
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">HUSILLO</div>
    </div>
    <div class="row">   
        <div class="col-6 h6">
            <article class="text-left">RPM</article>
            <article id="torque" class="text-left">Torque</article>
            <article class="text-left">State</article>
        </div>
        <div class="col-6 h6 text-right" style="padding-left:0px">
            <article id="frRPM">000.0</article>
            <article id="fTorque">000.0</article>
            <article id="fHusillo">Estado</article>
        </div>
    </div> 
</div>


<div class="card bg-c-skyblue text-white mt-3 p-1" id="cargaContent"> <!-- pink(original) -->
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">CARGA</div>
    </div>
    <div class="row">
        <div class="col-6 h6">
            <article class="text-left">Pos.[°]</article>
            <article class="text-left">Vel.[°/s]</article>
            <article class="text-left">State</article>
        </div>
        <div class="col-6 h6 text-right" style="padding-left:0px">
            <article id="posVertical">000.0</article>
            <article id="velVertical">000.0</article>
            <article id="estVertical">Estado</article>
        </div>
    </div>            
</div>


<div class="card bg-c-skyblue text-white mt-3 p-1" id="avanceContent"> <!-- blue(original) -->
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">AVANCE</div>
    </div>
    <div class="row">
        <div class="col-6 h6">
            <article class="text-left">Pos.[mm]</article>
            <article class="text-left">Vel.[mm/s]</article>
            <article class="text-left">State</article>
        </div>
        <div class="col-6 h6 text-right" style="padding-left:0px">
            <article id="posHorizontal">000.0</article>
            <article id="velHorizontal">000.0</article>
            <article id="estHorizontal">Estado</article>
        </div>
    </div>
</div>
<div class="card bg-c-black text-white mt-3 p-1">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 h5 font-weight-bold text-center">CUPLAS</div>
    </div>
    <div class="row">
        <!-- <div class="col-6 h6">
            <article class="text-left">Cuplas</article>
        </div> -->
        <div class="col-6 h4">
            <article id="countCuplas">000.0</article>
        </div>
        <div class="col-6 text-right" id="resetCount">
            <button>Reset</article>
        </div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/monitorComponent.js' %}"></script>
    {% endblock %}