[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
gunicorn = "*"
channels = "*"
psycopg2 = "*"
twisted = {extras = ["tls"], version = "*"}
websockets = "*"
websocket-client = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
